<!doctype html public "-//w3c//dtd html 4.01//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-2022-jp">
<link rel="stylesheet" type="text/css" href="dict-compress.css">
<title>EPWING $B$N05=L7A<0$K$D$$$F(B</title>
</head>
<body>

<!-- ############################################################# -->
<p class="header">
EPWING $B$N05=L7A<0$K$D$$$F(B<br>
$B3^86(B $B4pG7(B<br>
(m-kasahr@sra.co.jp)<br>
2001$BG/(B 1$B7n(B 5$BF|(B<br>
</p>

<p>
$BK\=q$O!"(BEPWING V4 $B$+$i:NMQ$5$l$?05=L7A<0$K$D$$$F!"8=;~E@$GJ,$+$C$F$$$k(B
$B$3$H$r5-$7$?$b$N$G$"$k!#(B
$B0l1~!"K\=q$N2r<a$K=>$C$F<BAu$7$?%W%m%0%i%`$rMQ$$$F!"9-<-1qBh(B 5 $BHG(B
(ISBN4-00-130072-9) $B$N?-D9$,$G$-$F$$$k$3$H$O3NG'$7$F$$$k!#(B
($BDI5-(B: $B8e$K(B EPWING V6 $B$G05=L7A<0$,<c43JQ99$5$l$?!#K\=q$K=q$+$l$?J}K!$G(B
$B$O(B EPWING V6 $B$N05=L%G!<%?$O?-D9$G$-$J$$!#(B)
</p>

<p>
$B$3$N05=L<-=q$X$NBP1~$O!"@nH(B@0l$5$s!":#0f$"$5$H$5$s$+$i>pJsDs6!$,$J$1(B
$B$l$PIT2DG=$@$C$?!#(B
$B$*Fs?M$K$O?<$/46<U$9$k!#(B
</p>

<p>
$B$J$*!"FC$KCG$i$J$$8B$j!"%G!<%?Cf$N%P%$%HNs$r@0?t$H$_$J$9:]$O!"%S%C%0%((B
$B%s%G%#%"%s(B (Most Significant Byte $B$,@hF,%P%$%H$KMh$k7A<0(B) $B$GI=$9$b$N$H(B
$B$9$k!#(B
</p>

<!-- ############################################################# -->
<hr>
<h2>HONMON2 $B%U%!%$%k$N35MW(B</h2>

<p>
$B05=L$,;HMQ$5$l$F$$$J$$(B EPWING $B$N=q@R$G$O!"K\J8%G!<%?$,(B HONMON $B$H$$$&%U%!(B
$B%$%k$K<}$a$i$l$F$$$?$,!"05=L$,;HMQ$5$l$F$$$k=q@R$G$OBe$o$j$K(B HONMON2
$B$H$$$&%U%!%$%k$K<}$a$i$l$F$$$k!#(B
</p>

<p>
HONMON2 $B%U%!%$%k$O<!$N$h$&$K!"05=L%X%C%@!"05=L%$%s%G%C%/%9!"IQEY%F!<%V(B
$B%k!"05=L$5$l$?K\J8$N(B 4 $B$D$NItJ,$+$i9=@.$5$l$F$$$k!#(B
</p>

<ul>
<li>$B05=L%X%C%@(B
<li>$B05=L%$%s%G%C%/%9(B
<li>$BIQEY%F!<%V%k(B
<li>$B05=L$5$l$?K\J8(B
</ul>

<!-- ############################################################# -->
<hr>
<h2>$B05=L%X%C%@(B (32$B%P%$%H(B)</h2>

<p>
$B05=L%X%C%@$K$O(B 32 $B%P%$%H$+$i$J$j!"3F%Q!<%H$N3+;O0LCV$*$h$SD9$5$J$I$,5-(B
$BO?$7$F$"$k!#(B
</p>

<table>
<tr><td>$B05=L%$%s%G%C%/%9$N3+;O0LCV(B <td>4$B%P%$%H(B
<tr><td>$B05=L%$%s%G%C%/%9$ND9$5(B     <td>4$B%P%$%H(B
<tr><td>$BIQEY%F!<%V%k$N3+;O0LCV(B     <td>4$B%P%$%H(B
<tr><td>$BIQEY%F!<%V%k$ND9$5(B         <td>4$B%P%$%H(B
<tr><td>$BK\J8$N3+;O0LCV(B             <td>4$B%P%$%H(B
<tr><td>$BM=HwNN0h(B?                  <td>4$B%P%$%H(B (00000000H)
<tr><td>$B=q@R4IM}>pJs$N3+;O0LCV(B?    <td>4$B%P%$%H(B ($BK\J8$N3+;O0LCV$KF1$8(B)
<tr><td>$BITL@(B                       <td>4$B%P%$%H(B (ffffedffH)
</table>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<h3>$B05=L%$%s%G%C%/%9(B ($BD9$5ITDj(B)</h3>

<p>
$B05=L%$%s%G%C%/%9$K$O!"3F%V%m%C%/$N3+;O0LCV$r5-O?$7$F$"$k!#(B
($B$3$3$G8@$&!V%V%m%C%/!W$O(B JIS X 4081 $B$N%V%m%C%/$N$3$H!#(B1 $B%V%m%C%/(B $B$O(B
2048$B%P%$%H!#(B) 
</p>

<p>
$BBh(B 1 $B%V%m%C%/$+$i=g$K3+;O0LCV$,5-O?$7$F$"$k$,!"5-O?$N;EJ}$,<c43J#;($G!"(B
$B%V%m%C%/$r(B 16 $B8D0lAH$K$7$F!"%$%s%G%C%/%9$r5-O?$7$F$$$k!#(B
$B%V%m%C%/0lAHJ,$N%$%s%G%C%/%9$O(B 36 $B%P%$%H$+$i$J$j!"<!$N$h$&$J9=@.$K$J$C(B
$B$F$$$k!#(B
</p>

<pre>
    $B$=$N%V%m%C%/0lAH$N4pDl0LCV(B (4 $B%P%$%H(B)
    1 $BHVL\$N%V%m%C%/$N3+;O%*%U%;%C%H(B (2 $B%P%$%H!"I,$:(B 0000H)
    2 $BHVL\$N%V%m%C%/$N3+;O%*%U%;%C%H(B (2 $B%P%$%H(B)
         : ($BN,(B)
    16 $BHVL\$N%V%m%C%/$N3+;O%*%U%;%C%H(B (2 $B%P%$%H(B)
</pre>

<p>
$B3F%V%m%C%/$N3+;O0LCV$O!"(B($B4pDl0LCV(B + $B3+;O%*%U%;%C%H(B) $B$K$J$k!#(B
$B$?$H$($P!"%V%m%C%/0lAH$N%$%s%G%C%/%9(B 36 $B%P%$%H$,<!$N$h$&$K$J$C$F$$$?$H(B
$B$9$k!#(B
</p>

<pre>
    00 03 c2 a0 00 00 02 42 07 75 0c b9 12 11 17 5e
    1c bb 22 1a 27 70 2c b7 32 2d 37 82 3c ad 41 d8
    47 15 4c 49
</pre>

<p>
$B3F%V%m%C%/$N<B:]$N3+;O0LCV$O<!$N$h$&$K$J$k!#(B
</p>

<pre>
    1 $BHVL\$N%V%m%C%/$N3+;O0LCV(B: 0003c2a0H + 0000H = 0003c2a0H
    2 $BHVL\$N%V%m%C%/$N3+;O0LCV(B: 0003c2a0H + 0242H = 0003c4e2H
        : ($BN,(B)
    16 $BHVL\$N%V%m%C%/$N3+;O0LCV(B: 0003c2a0H + 4c49H = 00040ee9H
</pre>

<p>
$B$J$*!":G8e$N%V%m%C%/0lAH$N%$%s%G%C%/%9$O!"<!$N$h$&$KESCf$+$i(B 0000H $B$K(B
$B$J$C$F$7$^$C$F$$$k$3$H$,$"$k!#(B
$B$3$l$O!"%V%m%C%/$NAm?t$,(B 16 $B$G3d$j$-$l$:!"BP1~$9$k%V%m%C%/$,$J$$$?$a(B
$B$G$"$k!#(B
</p>

<pre>
    08 e3 78 cb 00 00 05 5f 0b 0f 11 17 17 31 1c ee
    21 ae 27 22 2d 5c 32 f6 35 cf 00 00 00 00 00 00
    00 00 00 00
</pre>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<h3>$BIQEY%F!<%V%k(B ($BD9$5ITDj(B?)</h3>

<p>
$BIQEY%F!<%V%k$O!"<!$N$h$&$J9=@.$K$J$C$F$$$k!#(B
</p>

<table>
<tr><td>2 $B%P%$%HJ8;z$N%F!<%V%k(B <td>$BIQEY%F!<%V%k$ND9$5(B - 512 $B%P%$%H(B
<tr><td>1 $B%P%$%HJ8;z$N%F!<%V%k(B <td>512 $B%P%$%H(B
</table>

<p>
$BIQEY%F!<%V%k$ND9$5$O05=L%X%C%@It$K=q$+$l$F$*$j!"(B1 $B%P%$%H%F!<%V%k$O(B 512
$B%P%$%H8GDj$G$"$k!#(B
$B$7$?$,$C$F!"(B2 $B%P%$%HJ8;z$N%F!<%V%k$OIQEY%F!<%V%kA4BN$ND9$5$+$i(B 512 $B$r(B
$B0z$$$?%P%$%H?t$K$J$k!#(B
$B$3$N%F!<%V%k$O!"@EE*%O%U%^%sId9fMQ$N%O%U%^%sLZ$N@8@.$K;HMQ$5$l$k!#(B
</p>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<h3>2 $B%P%$%HJ8;z$N%F!<%V%k(B ($BD9$5ITDj(B)</h3>

<p>
2 $B%P%$%HJ8;z$N$&$A!"IQEY$N9b$$J8;z$K$D$$$F!"9_=g$KJ8;z$HIQEY$rJB$Y$F$"(B
$B$k!#(B
$BIQEY$NC10L$O$h$/J,$+$i$J$$$,!"I,$:4q?t$G$"$k!#(B
$B$3$N%F!<%V%k$O<!$N(B 4 $B%P%$%H$+$i$J$kAH$r(B
($BIQEY%F!<%V%k$ND9$5(B - 512) / 4$B2s7+$jJV$7$?9=@.$K$J$C$F$$$k!#(B
</p>

<table>
<tr><td>$BJ8;zHV9f(B (2 $B%P%$%H(B)
<tr><td>$BIQEY(B (2 $B%P%$%H(B)
</table>

<p>
$B$?$H$($P!"%F!<%V%k$N:G=i$N(B 32 $B%P%$%H$,<!$N$h$&$K$J$C$F$$$k$H$9$k!#(B
</p>

<pre>
    00 00 fa cf 00 04 1d ff 24 26 16 dd 24 73 13 c1
    24 24 13 91 00 02 13 6b 00 06 10 e1 00 08 10 cf
</pre>

<p>
$BJ8;zHV9f$HIQEY$O<!$NDL$j$K$J$k!#(B
</p>

<table>
<tr><td>$BJ8;zHV9f(B    <td>$BIQEY(B
<tr><td>0000        <td>facfH
<tr><td>0004        <td>1dffH
<tr><td>2426 ($B$/(B)   <td>16ddH
<tr><td>2473 ($B$s(B)   <td>13c1H 
<tr><td>2424 ($B$$(B)   <td>1391H
<tr><td>0002        <td>146bH
<tr><td>0006        <td>10e1H
<tr><td>0008        <td>10cfH
</table>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<h3>1 $B%P%$%HJ8;z$N%F!<%V%k(B ($BD9$5(B 200H)</h3>

<p>
1 $B%P%$%HJ8;z(B 00H$B!A(B ffH $B$NIQEY$,J8;zHV9f=g$G5-$5$l$F$$$k!#(B2 $B%P%$%HJ8;z(B
$B$N%F!<%V%k$HF1MM$KIQEY$NC10L$O$h$/J,$+$i$J$$$,!"$d$O$jI,$:4q?t$G$"$j!"(B
$BIQEY$O(B 2 $B%P%$%H$GI=$5$l$k!#(B
</p>

<p>
$B$?$H$($P!"%F!<%V%k$N:G=i$N(B 32 $B%P%$%H$,<!$N$h$&$K$J$C$F$$$k$H$9$k!#(B
</p>

<pre>
    19 e1 11 cd 10 8f 11 0b 13 77 13 8d 10 c7 0f 6f
    06 27 04 4f 04 ef 03 8f 04 a1 03 a9 05 45 05 55
</pre>

<p>
$BJ8;zHV9f$HIQEY$O<!$NDL$j$K$J$k!#(B
</p>

<table>
<tr><td>$BJ8;zHV9f(B <td>$BIQEY(B
<tr><td>00       <td>19e1H
<tr><td>01       <td>11cdH
<tr><td>02       <td>108fH
<tr><td>03       <td>110bH 
<tr><td>04       <td>1377H
</table>

<!-- ############################################################# -->
<hr>
<h2>$B05=L$5$l$?K\J8(B ($BD9$5ITDj(B)</h2>

<p>
$B%V%m%C%/Kh$KFHN)$7$F!"@EE*%O%U%^%sId9f$G05=L$5$l$F$$$k!#(B
$BI,$:%V%m%C%/$NKvHx$K$O!V%V%m%C%/=*C<J8;z!W$,IU2C$5$l$F$$$k!#(B
</p>

<!-- ############################################################# -->
<hr>
<h2>$B@EE*%O%U%^%sLZ$N:n$jJ}(B</h2>

<p>
EPWING $B$G:NMQ$5$l$F$$$k05=L7A<0$O!"@EE*%O%U%^%sId9f$G$"$k!#(B
$BK\J8$N?-D9$r9T$&$K$O!"IQEY%F!<%V%k$N%G!<%?$+$i!"05=L;~$K;HMQ$7$?%O%U%^(B
$B%sLZ$rI|85$9$kI,MW$,$"$k!#(B
$B0J2<$K%O%U%^%sLZ$NI|85J}K!$r5-$9!#(B
</p>

<ol>
<li>2 $B%P%$%HJ8;z$NIQEY%F!<%V%k$rFI$_9~$`!#(B
$BJ8;zHV9f$HIQEY$NAH$r(B 1 $B$D$N%N!<%I$NCf$K>pJs$H$7$F3JG<$9$k!#(B
$B$=$7$F!"@8@.$7$?3F%N!<%I$r0l<!85G[Ns$N$h$&$K!"@hF,$+$i=g$K0lNs$KJB$Y$F(B
$B$$$/!#(B

<li>$BF1MM$K!"(B1 $B%P%$%HJ8;z(B 256 $B8D$K$D$$$F$b!"J8;zHV9f$HIQEY$NAH$r(B 1 $B$D$N(B
$B%N!<%I$NCf$K>pJs$H$7$F3JG<$9$k!#(B
$B@8@.$7$?%N!<%I$O!"(B2 $B%P%$%HJ8;z$N%N!<%I$rJB$Y$?G[Ns$NKvHx$KDI2C$7$F$$$/(B
$B$h$&$K!"$d$O$j=g$K0lNs$KJB$Y$F$$$/!#(B

<li>$BIQEY(B 1 $B$N%V%m%C%/=*C<J8;z(B 1 $B8D$KBP$7$F!"%N!<%I$r0l$D3d$jEv$F$k!#(B
$B$3$l$bF1MM$K!"(B2 $B%P%$%HJ8;z$H(B 1 $B%P%$%HJ8;z$N%N!<%I$rJB$Y$?G[Ns$NKvHx$K(B
$BDI2C$9$k!#(B

<li>$B8=;~E@$G!"%N!<%I$rJB$Y$?G[Ns$O(B 2 $B%P%$%HJ8;z$N%N!<%I!"(B1 $B%P%$%HJ8;z(B
$B$N%N!<%I!"%V%m%C%/=*C<J8;z$N%N!<%I$N=g$GJB$s$G$$$k$,!"G[NsA4BN$r$$$C$?(B
$B$sIQEY$N9b$$=g$K%=!<%H$9$k!#(B
$B%=!<%H$K$D$$$F$N>\:Y$O!"<!$N@a$G@bL@$9$k!#(B

$BG[NsCf$N3F%N!<%I$O%O%U%^%sLZ$NMU$K$J$k$,!"$3$N;~E@$G$O$^$@?F%N!<%I$O7h(B
$B$^$C$F$*$i$:!"0J9_$NA`:n$G?F%N!<%I$,7hDj$7$F$$$/!#(B

<li>$B%N!<%I$NG[Ns$r=g$KAv::$7!"IQEY$,$b$C$H$bDc$/!"$+$D?F%N!<%I$,$^$@7h(B
$B$^$C$F$$$J$$%N!<%I$rC5$9!#(B
$BJ#?t$"$C$?$i!"%N!<%IHV9f$,$b$C$H$bBg$-$$$b$N$rA*$V!#(B
$BA*$s$@%N!<%I$r3P$($F$*$/!#(B

<li>$B%N!<%I$NG[Ns$N@hF,$+$i=g$K%N!<%I$rAv::$7!"(B5. $B$GA*$s$@%N!<%I$r=|$$(B
$B$?Cf$G!"IQEY$N$b$C$H$bDc$/!"$+$D?F%N!<%I$,$^$@7h$^$C$F$$$J$$%N!<%I$rC5$9!#(B
$BJ#?t$"$C$?$i!"%N!<%IHV9f$,$b$C$H$bBg$-$$$b$N$rA*$V!#(B
$BA*$s$@%N!<%I$r3P$($F$*$/!#(B

<li>$BCf4V%N!<%I$b$7$/$O:,%N!<%I$r0l$D:n$j!"%N!<%I$NG[Ns$NKvHx$KDI2C$9$k!#(B
6. $B$GA*$s$@%N!<%I$,$3$NCf4V(B ($B$"$k$$$O:,(B) $B%N!<%I$N:8B&$N;R$K!"(B7. $B$G(B
$BA*$s$@%N!<%I$,1&B&$N;R$K$J$k$h$&$K!";^$rD%$k!#(B
$B$3$NA`:n$K$h$j!"(B6. $B$H(B 7. $B$GA*$s$@%N!<%I$K$O!"?F$,7h$^$C$?$3$H$K$J$k$,!"(B
$B:n@.$7$?Cf4V%N!<%I<+?H$K$O?F$,7h$^$C$F$$$J$$!#(B

<li>$B0J2<!":,$H$J$k%N!<%I$,7h$^$k$^$G(B 5. $B!A(B 7. $B$r7+$jJV$9!#(B

7. $B$G@8@.$5$l$?Cf4V%N!<%I$O!"<!$N2s$+$i!"$=$l<+?H$,(B 4., 5. $B$G$NAv::$N(B
$BBP>]$H$J$k$3$H$KCm0U$9$k!#(B
</ol>

<p>
$B0J>e$G%O%U%^%sLZ$,40@.$9$k!#(B
</p>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<h3>$B%=!<%HJ}K!(B</h3>

<p>
$BA0@a$N!"@EE*%O%U%^%sLZ$N:n$jJ}$N@bL@$NESCf$G!"%N!<%I$rJB$Y$?G[Ns$r%=!<(B
$B%H$9$kI,MW$,$"$k$3$H$r=R$Y$?$,!"$3$N@a$G$O%=!<%H$N;EJ}$N>\:Y$K$D$$$F@b(B
$BL@$9$k!#(B
</p>

<p>
$B%N!<%I$rJB$Y$?G[Ns$O(B 2 $B%P%$%HJ8;z$N%N!<%I!"(B1 $B%P%$%HJ8;z$N%N!<%I!"%V%m%C(B
$B%/=*C<J8;z$N%N!<%I$N=g$GJB$s$G$$$k$,!"G[NsA4BN$rIQEY$N9b$$=g$K%=!<%H$9(B
$B$k!#(B
</p>

<p>
$B%=!<%H$OI,$:!"8e$m$K<($7$?$b$N$H40A4$KEy2A$J<BAu$rMQ$$$J$1$l$P$J$i$J$$!#(B
$B$3$N<BAu$G$O!"F1$8IQEY$r;}$C$?J#?t$N%N!<%I$N=g=x$,%=!<%H$9$kA08e$GF~$l(B
$BBX$o$k$N$@$,!"$3$NF~$lBX$o$j6q9g$$$r40A4$K:F8=$G$-$J$$$H!"@5$7$/I|9f$G(B
$B$-$J$$!#(B
</p>

<p>
$B6qBNE*$K%=!<%H%W%m%0%i%`$N9|3JItJ,$r<($9!#(B
$B%"%k%4%j%:%`$O!"0lHL$KA*Br%=!<%H(B (selection sort) $B$H8F$P$l$k$b$N$G$"(B
$B$k!#(B
</p>

<ul>
<li>$B%N!<%I$rJB$Y$?G[Ns$N@hF,$r(B node[0]
<li>node[0] $B$NIQEY$r(B node[0].frequency
<li>$B%N!<%I$N8D?t$r(B node_num
</ul>

<p>
$B$H$=$l$>$lI=$9$H!"%=!<%H$O<!$N$h$&$K9T$&!#(B
(ISO C $BIw$N5-=R!#(BC $B8@8l$rCN$C$F$$$l$P!"$H$/$KI=5-$K4X$9$k@bL@$OI,MW(B
$B$J$$$H;W$o$l$k!#(B)
</p>

<pre>
    for (i = 0; i &lt; node_num - 1; i = i + 1) {
	most = i;
	for (j = i; j &lt; node_num; j = j + 1) {
	    if (node[j].frequency &gt; node[most].frequency) {
	        most = j;
	    }
        }
	tmp_node = node[i];
	node[i] = node[most];
	node[most] = tmp_node;
    }
</pre>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<h3>$B?-D9J}K!(B</h3>

<p>
$B@8@.$7$?@EE*%O%U%^%sLZ$rMQ$$$F?-D9$r9T$&:]$O!":8B&$N;R%N!<%I$X$N;^$r%S%C(B
$B%H(B `1' $B$K!"1&B&$N%N!<%I$X$N;^$r%S%C%H(B `0' $B$KBP1~$5$;$k!#(B
$B$?$H$($P!":,$+$i:8"*1&"*1&$H9_$j$?$H$3$m$K$"$kMU%N!<%I$NId9f$O(B `100'
$B$K$J$k!#(B
</p>

<p>
$B05=L%G!<%?$O!"%P%$%HNs$N@hF,$+$i3F%P%$%H$r(B MSB (Most Significant Bit)
$B"*(B LSB (Least Significant Bit) $B$NJ}8~$GFI$s$G$$$/!#(B
$B$^$?!"3F%V%m%C%/$N=*$o$j$K$O!"I,$:%V%m%C%/=*C<J8;z$,IU2C$5$l$k!#(B
</p>

<p>
$B$J$*!"3F%V%m%C%/$O(B 2048 $B%P%$%H$+$i$J$k$,!"05=L%G!<%?<+BN$O(B 2049 $B%P%$%H(B
$B$+$i9=@.$5$l$F$$$k$3$H$b$"$k$h$&$@!#(B
$B@hF,$N%P%$%H$rBh(B 0 $B%P%$%H$H$9$k$H!"(B2047 $B%P%$%HL\$K$O(B ($B$b$&;D$j(B 1 $B%P%$(B
$B%HJ,$7$+M>Gr$,$J$$$N$G(B) 1 $B%P%$%HJ8;z$7$+CV$1$J$$H&$@$,!"(B2 $B%P%$%HJ8;z(B
$B$NId9f$,=P8=$9$k$3$H$,$"$k!#(B
$B$I$&$d$i!"$=$N<!$N%V%m%C%/$N@hF,$N%P%$%H$H9g$o$;$F(B 2 $B%P%$%HJ,$rId9f2=(B
$B$7$F$7$^$C$F$$$k$?$a$N$h$&$G$"$k!#(B
</p>

<p>
$B$7$?$,$C$F$3$N>l9g$O!"(B2 $B%P%$%HJ,$N$&$A$N:G=i$N(B 1 $B%P%$%H$@$1I|9f$9$k$3(B
$B$H$K$J$k!#(B
</p>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<hr>
<address>Copyright 1999, 2000 Motoyuki Kasahara</address>
</body>
</html>
