<!doctype html public "-//w3c//dtd html 4.01//en">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-2022-jp">
<link rel="stylesheet" type="text/css" href="dict-compress.css">
<title>S-EBXA $B$N05=L7A<0$K$D$$$F(B</title>
</head>
<body>

<!-- ############################################################# -->
<p class="header">
S-EBXA $B$N05=L7A<0$K$D$$$F(B<br>
$B3^86(B $B4pG7(B<br>
(m-kasahr@sra.co.jp)<br>
2001$BG/(B 7$B7n(B 29$BF|(B<br>
</p>

<p>
$BK\=q$O!"(BS-EXBA $B$+$i:NMQ$5$l$?05=L7A<0$K$D$$$F!"8=;~E@$GJ,$+$C$F$$$k$3$H(B
$B$r5-$7$?$b$N$G$"$k!#(B
$B0l1~!"K\=q$N2r<a$K=>$C$F<BAu$7$?%W%m%0%i%`$G!"%=%K!<%G!<%?%G%#%9%/%^%s(B
DD-S1000 $BIUB0$N!VF|K\BgI42JA4=q!W$N?-D9$,$G$-$F$$$k$3$H$O3NG'$7$F$$$k!#(B
</p>

<p>
$B$3$N05=L7A<0$N2r@O$O!"<g$K:,K\N4$5$s$N8y@S$K$h$k!#(B
</p>

<!-- ############################################################# -->
<hr>
<h2>$B05=L7A<0$N35MW(B</h2>

<p>
S-EBXA $B$N05=L$O(B <code>START</code> $B%U%!%$%kCf$NK\J8%G!<%?It$@$1$K(B
$BBP$7$F9T$o$l$k!#(B
$B$7$+$b!"$9$Y$F$N(B S-EBXA $B$,I,$:%G!<%?$N05=L$r9T$C$F$$$k$o$1$G$O$J$/!"(B
$B05=L$r:NMQ$7$F$$$k$N$O!"$4$/0lIt$N(B S-EBXA $B$@$1$G$"$k!#(B
</p>

<p>
$B05=L$5$l$?(B S-EBXA $B$K$*$$$F!"K\J80J30$N%G!<%?$O05=L$5$l$F$$$J$$$?$a!"(B
$B=>Mh$NEE;R%V%C%/$HF1MM$N=hM}J}K!$G%"%/%;%9$G$-$k!#(B
$B$^$?$=$N@-<A>e!"05=L$5$l$?K\J8%G!<%?$O!"%U%!%$%k$NKvHx$KCV$+$l$k$h$&(B
$B$G$"$k!#(B
$B$D$^$j!"K\J8%G!<%?$N8eJ}$K$5$i$KHs05=L%G!<%?$,CV$+$l$k$3$H$O$J$$!#(B
</p>

<p>
$B05=L$r:NMQ$7$?(B S-EBXA $B$r%=%U%H%&%'%"$,07$&>l9g!"%"%/%;%9$7$h$&$H$7$F$$$k(B
$B%G!<%?$,K\J8%G!<%?$NHO0OFb$K$"$k$N$+$I$&$+$r$^$:3NG'$9$kI,MW$,$"$k!#(B
$BHO0O30$J$i$=$N$^$^%"%/%;%9$9$l$PNI$$$,!"HO0OFb$K$"$k$J$iFI$_9~$s$@%G!<%?(B
$B$r?-D9$9$kI,MW$,$"$k!#(B
</p>

<!-- ############################################################# -->
<hr>
<h2>$B=q@R4IM}>pJs(B</h2>

<p>
$B=q@R4IM}>pJs$O!"DL>o(B <code>START</code> $B%U%!%$%k$N@hF,%V%m%C%/$KCV$+$l!"(B
$B%U%!%$%k$N9=@.MWAG$N0lMw$r5-=R$7$F$"$kItJ,$G$"$k!#(B
</p>

<p>
EPWING $B$*$h$SEE;R%V%C%/$G$O!"$=$l$>$l$N=q@R9=@.MWAG$O<!$N$h$&$J%G!<%?(B
$B$+$i$J$k(B ($B$3$N>pJs$O(B JIS X 4081 $B$N5-=R$K4p$E$/(B)$B!#(B
</p>

<table>
<tr><td>$B=q@R9=@.MWAG<1JL;R(B
<tr><td>$BM=HwNN0h(B 3
<tr><td>$B3+;O%V%m%C%/(B
<tr><td>$B%V%m%C%/?t(B
<tr><td>$B%$%s%G%C%/%9:n@.>pJsM-8z@-(B
<tr><td>$B%$%s%G%C%/%9:n@.>pJs(B
<tr><td>$BM=HwNN0h(B 4
</table>

<p>
$BK\J8%G!<%?$N=q@R9=@.MWAG<1JL;R$K$O!"(B00H $B$,3d$jEv$F$i$l$F$$$k!#(B
$B$?$H$($P!"K\J8%G!<%?$N=q@R9=@.MWAG$O!"<!$N$h$&$J%P%$%HNs$GI=8=$5$l$k!#(B
</p>

<pre>
    00 00 00 00 8f 89 00 01 1d e4 01 00 00 00 00 00
</pre>

<p>
$B$3$NNc$G$O!"3+;O%V%m%C%/$O(B 00008f89H $B$G$"$j!"%V%m%C%/?t$O(B 00011de4H $B$G(B
$B$"$k!#(B
$B$?$@$7!"(B1 $B%V%m%C%/$O(B 2048 $B%P%$%H$+$i$J$j!":G=i$N%V%m%C%/$rBh(B 1 $B%V%m%C%/(B
$B$H?t$($k$b$N$H$9$k!#(B
</p>

<p>
$B0J>e$N@bL@$OK\J8%G!<%?$,05=L$5$l$F$$$k!"$$$J$$$K$+$+$o$i$:!"6&DL$9$kOC(B
$B$G$"$k!#(B
$BK\J8%G!<%?$,05=L$5$l$F$$$k>l9g$O!"$5$i$K<!$N(B 2 $B8D$N<1JL;R$,=q@R4IM}>pJs(B
$B$K5-:\$5$l$k!#(B
</p>

<table>
<tr><td>$B<1JL;R(B<td>$B0UL#(B
<tr><td>22H<td>$B05=LK\J8%G!<%?$X$N%$%s%G%C%/%9(B
<tr><td>21H<td>$B05=LK\J8%G!<%?(B
</table>

<p>
$BEE;R%V%C%/$K$*$$$F!"(BS-EBXA $B7A<0$N%G!<%?05=L$,9T$o$l$F$$$k$+$I$&$+$O!"(B
$B$3$N<1JL;R(B 22H $B$H(B 21H $B$NM-L5$+$iH=Dj$G$-$k!#(B
$B=q@R9=@.MWAG$N%G!<%?$O!"6qBNE*$K$O<!$N$h$&$K$J$C$F$$$k!#(B
</p>

<pre>
    22 00 00 00 8f 89 00 00 00 48 01 00 00 00 00 00

    21 00 00 00 8f d1 00 00 c0 79 01 00 00 00 00 00
</pre>

<p>
$B$3$3$G!"!V05=LK\J8%G!<%?$X$N%$%s%G%C%/%9!W!V05=LK\J8%G!<%?!W$NNN0h$O!"(B
$B$$$:$l$b@h$[$I$N!VK\J8%G!<%?!W$NNN0h$H=E$J$C$F$*$j!"$7$+$b!V05=LK\J8(B
$B%G!<%?$X$N%$%s%G%C%/%9!W$H!VK\J8%G!<%?!W$N3+;O0LCV$,F1$8$G$"$kE@$KCm0U(B
$B$5$l$?$$!#(B
</p>

<table>
<tr><td>$B05=LK\J8%G!<%?$X$N%$%s%G%C%/%9(B<td>8f89H $B!A(B 8fd0H
<tr><td>$B05=LK\J8%G!<%?(B<td>8fd1H $B!A(B 1504aH
<tr><td>$BK\J8%G!<%?(B<td>8f89H $B!A(B 1ad6dH
</table>

<p>
$B05=L$5$l$?(B S-EBXA $B$K$*$$$F!"!VK\J8%G!<%?!W9=@.MWAG$N<($93+;O%V%m%C%/(B
$B$*$h$S%V%m%C%/?t$O!"%G!<%?$r?-D9$7$?$i$=$N0LCV$*$h$S%V%m%C%/?t$K$J$k(B
$B$H$$$&$3$H$r0UL#$7$F$$$k!#(B
</p>

<p>
<code>START</code> $B%U%!%$%kFb$G$O$9$Y$F!";2>H@h$N0LCV$NI=8=$OHs05=L;~(B
$B$N$b$N$GI=8=$5$l$F$$$k!#(B
$B$?$H$($P!"C18l$N8!:w$r9T$&$H8+$D$+$C$?C18l$NK\J8$N0LCV$,F@$i$l$k$,!"(B
$B$3$N$H$-$N0LCV$OHs05=L;~$N$b$N$G$"$k!#(B
</p>

<p>
$B$7$?$,$C$F!"F@$i$l$?0LCV>pJs$r$b$H$K(B <code>START</code> $B%U%!%$%kFb$N(B
$B%G!<%?$r%"%/%;%9$9$k:]$O!"$=$3$,05=L$5$l$F$$$kItJ,$+$I$&$+$NH=Dj$K(B
$B!VK\J8%G!<%?!W9=@.MWAG$N>pJs$,I,MW$H$J$k!#(B
$B@h$NNc$J$i!"F@$i$l$?0LCV>pJs$,%V%m%C%/(B 8f89H $B!A(B 1ad6dH $B$NHO0OFb$G(B
$B$"$l$P!"$=$N0LCV$K$"$k%G!<%?$O05=L$5$l$F$$$k$3$H$K$J$k!#(B
</p>

<!-- ############################################################# -->
<hr>
<h2>$B05=LK\J8%G!<%?$X$N%$%s%G%C%/%9$N9=@.(B</h2>

<p>
S-EBXA $B$N05=LK\J8%G!<%?$O@hF,$+$i(B 4096 $B%P%$%H$:$D$r(B 1 $B$D$N2t$H$7$F!"(B
$B$=$l$>$lFHN)$7$F05=L$5$l$F$$$k(B ($B05=L%"%k%4%j%:%`$K$D$$$F$O<!$N@a$G(B
$B>\$7$/=R$Y$k(B)$B!#0J2<!"$3$N2t$N$3$H$r!V%9%i%$%9!W$H8F$V$3$H$K$9$k!#(B
</p>

<p>
$B3F%9%i%$%9$N05=L%G!<%?$N@hF,0LCV$r=q$-JB$Y$F$$$k$N$,!"!V05=LK\J8%G!<%?(B
$B$X$N%$%s%G%C%/%9!WIt$G$"$k!#(B
$B3F%9%i%$%9$N@hF,0LCV$O!"!V05=LK\J8%G!<%?!W$N3+;O0LCV$+$i$NAjBP0LCV$r(B
$B%P%$%HC10L$G5-$5$l$F$$$k!#(B
</p>

<p>
$B$=$l$>$l$NAjBP0LCV$O(B 4 $B%P%$%H$GI=8=$5$l$k!#(B
$B$^$?!"0lHV@hF,$N%9%i%$%9(B ($BBh(B 1 $B%9%i%$%9(B) $B$NAjBP0LCV$O(B 00000000H $B$H(B
$B7h$^$C$F$$$k$?$a5-:\$5$l$:!"FsHVL\$N%9%i%$%9(B ($BBh(B 2 $B%9%i%$%9(B) $B$NAjBP0LCV(B
$B$+$i=g$K5-:\$5$l$k!#(B
</p>

<p>
$B!V05=LK\J8%G!<%?$X$N%$%s%G%C%/%9!W$N@hF,ItJ,$N6qBNE*$J%G!<%?Ns$r(B
$B0J2<$K5-$9!#(B
$B$3$NNc$G$O!"Bh(B 2 $B%9%i%$%9$NAjBP0LCV$,(B 00000bcaH$B!"Bh(B 3 $B%9%i%$%9$,(B
00001712H$B!"0J2<(B 000021b3H$B!"(B00002d8cH... $B$HB3$/!#(B
</p>

<pre>
    00000bca 00001712 000021b3 00002d8c
    00003899 00004348 00004ce6 000055fc
    0000611f 00006c67 0000781a 000083ce
</pre>

<p>
$B$?$H$($P!"05=LK\J8%G!<%?$N3+;O%V%m%C%/$r(B 8fd1H $B$H$9$k$H!"Bh(B 2 $B%9%i%$%9(B
$B$N05=L%G!<%?$N3+;O0LCV(B ($B%P%$%HC10L(B) $B$O!"<!$N$h$&$K7W;;$9$k$3$H$,$G$-$k!#(B
</p>

<pre>
    (8fd1H - 1) * 2048 + 00000bcaH = 047e8bcaH
</pre>

<p>
$B<XB-$G$"$k$,!"$9$Y$F$N%9%i%$%9$N%$%s%G%C%/%9$r=q$-=*$o$C$?2U=j$,%V%m%C%/(B
$B$NESCf$G$"$C$?>l9g$O!"$=$N%V%m%C%/$NKvHx$^$G(B 00000000H $B$,Kd$a$i$l$F$$$k!#(B
</p>

<!-- ############################################################# -->
<hr>
<h2>$B05=LK\J8%G!<%?(B</h2>

<p>
$B3F%9%i%$%9$N05=L%"%k%4%j%:%`$K$D$$$F@bL@$9$k!#(B
$B4pK\E*$K$3$N%"%k%4%j%:%`$O!"(BLZ77 $B$NJQ7A$H8@$($k!#(B
</p>

<p>
$B%9%i%$%9$N05=L%G!<%?$O!"O"B3$9$k!V%0%k!<%W!W$G9=@.$5$l$k!#(B
$B%9%i%$%9$N%G!<%?$O!"@hF,$N%0%k!<%W$+$i=g$KC`<!?-D9$7$F$$$1$P!"(B
$B%9%i%$%9A4BN$r?-D9$G$-$k$h$&$K$J$C$F$$$k!#(B
</p>

<p>
$B3F%0%k!<%W$O$5$i$KBh(B 1 $B$+$i(B $BBh(B 8 $B$^$G$N(B 8 $B8D$N!V05=L%G!<%?MWAG!W(B
$B$+$i$J$k!#(B
$B%0%k!<%W$N%G!<%?$r?-D9$9$k:]$O!"$d$O$j@hF,$NBh(B 1 $BMWAG$+$i=g$KC`<!(B
$B?-D9$7$F$$$/!#(B
$B$*$N$*$N$N05=L%G!<%?MWAG$O(B 1 $B%P%$%H$J$$$7(B 2 $B%P%$%H$G9=@.$5$l!"(B
$B$5$i$K3F05=L%G!<%?MWAG$N!V%b!<%I!W$N>pJs$r5-O?$9$k$?$a$K!"(B1 $B%P%$%H(B
$B$r>CHq$7$F$$$k(B ($B!V%b!<%I!W$K$D$$$F$O8e=R$9$k(B)$B!#(B
$B%0%k!<%WFb$N05=L%G!<%?MWAG$N9=@.=g=x$O!"<!$NDL$j$G$"$k!#(B
</p>

<pre>
    $B3F05=L%G!<%?MWAG$N%b!<%I>pJs(B
    $BBh(B 1 $B05=L%G!<%?MWAG(B
    $BBh(B 2 $B05=L%G!<%?MWAG(B
        : ($BN,(B)
    $BBh(B 8 $B05=L%G!<%?MWAG(B
</pre>

<p>
$B8D!9$N05=L%G!<%?MWAG$O!"<!$N$$$:$l$+$N%b!<%I$r<h$j!"%b!<%I$K1~$8$?(B
$B%G!<%?$rM-$7$F$$$k!#(B
</p>

<ul>
<li>1 $B%P%$%H$NHs05=L%G!<%?(B
<li>$BA0J};2>H(B
</ul>

<p>
$B!V(B1 $B%P%$%H$NHs05=L%G!<%?!W$H$$$&$N$O!"(B1 $B%P%$%HJ,$N%G!<%?$r!"05=L$J$7(B
$B$K$=$N$^$^5-O?$7$?$b$N$G$"$k!#(B
</p>

<p>
$B$b$&0l$D$N!VA0J};2>H!W$H$$$&$N$O!"A0$K8=$l$?%G!<%?Ns$HF1$8%G!<%?$,$=(B
$B$3$KCV$+$l$k$3$H$r<($9!#(B
$BA0J};2>H$N>l9g!"05=L%G!<%?MWAG$O(B 2 $B%P%$%H$G9=@.$5$l$k!#(B
$B:G=i$N%P%$%H$r(B c0$B!"<!$N%P%$%H$r(B c1 $B$H$9$k$H!"05=L%G!<%?MWAG$O<!$N(B
$B$h$&$J0UL#$r;}$D!#$?$@$7$3$3$G!"(B&amp; $B$OO@M}@Q!"(B% $B$O>jM>;;$H$9$k!#(B
</p>

<pre>
    $B@hF,%P%$%H0LCV(B := (c0 + (c1 &amp; f0H) * 16 + 18) % 4096
    $B%P%$%H?t(B       := (c1 &amp; 0fH) + 3
</pre>

<p>
$B$3$N!V@hF,%P%$%H0LCV!W!V%P%$%H?t!W$K$h$C$F!"%9%i%$%9$N@hF,2?%P%$%HL\(B
$B$+$i2?%P%$%HJ,$N%G!<%?$r%3%T!<$9$k$N$+$rI=$9!#(B
$B!V@hF,%P%$%H!W$O%9%i%$%9@hF,$+$i$NAjBP%P%$%H?t$rI=$9$N$G!"%9%i%$%9$N(B
$B@hF,%P%$%H$O(B 0 $B%P%$%HL\$H$J$k!#(B
</p>

<p>
$B$J$*!"Dj$+$J>pJs$G$O$J$$$,!"%3%T!<$NF0:n$O(B 1 $B%P%$%H$:$D9T$&I,MW$,$"$k(B
$B$+$bCN$l$J$$!#(B
$B$?$H$($P!"8=:_0LCV$,%9%i%$%9@hF,$+$i(B 2 $B%P%$%HL\$J$N$K!"!V%9%i%$%9$N(B
$B@hF,(B 0 $B%P%$%HL\$+$i(B 5 $B%P%$%H%3%T!<!W$H$$$&%G!<%?$,5-O?$5$l$k$3$H$bM-$j(B
$BF@$k$+$bCN$l$J$$!#(B
$B$3$N>l9g$O!"<!$N$h$&$J=hM}$r=g!9$K9T$&$3$H$G!"(B2 $B!A(B 6 $B%P%$%HL\$N%G!<%?(B
$B$NFbMF$,0l0U$K3NDj$9$k!#(B
</p>

<pre>
    0 $B%P%$%HL\$N%G!<%?$r(B 2 $B%P%$%HL\$K%3%T!<(B
    1 $B%P%$%HL\$N%G!<%?$r(B 3 $B%P%$%HL\$K%3%T!<(B
    2 $B%P%$%HL\$N%G!<%?$r(B 4 $B%P%$%HL\$K%3%T!<(B
    3 $B%P%$%HL\$N%G!<%?$r(B 5 $B%P%$%HL\$K%3%T!<(B
    4 $B%P%$%HL\$N%G!<%?$r(B 6 $B%P%$%HL\$K%3%T!<(B
</pre>

<p>
$B%0%k!<%W$N@hF,$KIU2C$5$l$k!V3F05=L%G!<%?MWAG$N%b!<%I>pJs!W$K$O!"%0%k!<%W(B
$BFb$NBh(B 1 $B$+$i(B $BBh(B 8 $B$^$G$N(B 8 $B8D$N05=L%G!<%?MWAG$,$I$A$i$N%b!<%I$G%G!<%?$,(B
$B=q$+$l$F$$$k$N$+$,5-O?$5$l$F$$$k!#(B
$B!V3F05=L%G!<%?MWAG$N%b!<%I>pJs!W$O(B 1 $B%P%$%H$G9=@.$5$l!"05=L%G!<%?MWAG(B
1 $B8D$KBP$7$F(B 1 $B%S%C%H$,3d$jEv$F$i$l$F$$$k!#(B
</p>

<p>
$BBh(B 1 $B05=L%G!<%?MWAG$K3d$jEv$F$i$l$F$$$k$N$,(B LSB (Least Significant Bit)
$B$G$"$j!"Bh(B 8 $B05=L%G!<%?MWAG$K3d$jEv$F$i$l$F$$$k$N$,!"(BMSB (Most Significant
Bit) $B$G$"$k!#(B
$B%S%C%H$,(B 1 $B$J$i!V(B1 $B%P%$%H$NHs05=L%G!<%?!W%b!<%I$G$"$j!"(B0 $B$J$i!VA0J};2>H!W(B
$B%b!<%I$G$"$k$3$H$r<($9!#(B
$B$D$^$j!"%b!<%II=$9%P%$%H$NCM$r(B <code>m</code> $B$H$9$k$H!"<!$N$h$&$K$J$k!#(B
</p>

<pre>
    $BBh(B 1 $B05=L%G!<%?MWAG(B: (m &amp; 01H) = 0 $B$J$i!VA0J};2>H!W(B
    $BBh(B 2 $B05=L%G!<%?MWAG(B: (m &amp; 02H) = 0 $B$J$i!VA0J};2>H!W(B
    $BBh(B 3 $B05=L%G!<%?MWAG(B: (m &amp; 04H) = 0 $B$J$i!VA0J};2>H!W(B
    $BBh(B 4 $B05=L%G!<%?MWAG(B: (m &amp; 08H) = 0 $B$J$i!VA0J};2>H!W(B
    $BBh(B 5 $B05=L%G!<%?MWAG(B: (m &amp; 10H) = 0 $B$J$i!VA0J};2>H!W(B
    $BBh(B 6 $B05=L%G!<%?MWAG(B: (m &amp; 20H) = 0 $B$J$i!VA0J};2>H!W(B
    $BBh(B 7 $B05=L%G!<%?MWAG(B: (m &amp; 40H) = 0 $B$J$i!VA0J};2>H!W(B
    $BBh(B 8 $B05=L%G!<%?MWAG(B: (m &amp; 80H) = 0 $B$J$i!VA0J};2>H!W(B
</pre>

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->
<hr>
<address>Copyright 2001 Motoyuki Kasahara</address>
</body>
</html>
