/* Time-stamp: "Friday 2002-09-20 23:35:45 JST" */
/* $Id$ */

body {
margin: 0%;
background-image: url(t_bokashi2.png);
background-position: 0% 0%;
background-color: #f5f5f5;
color: #745247;
}

img.momo {
float:left;
margin: 0.5em 0px 0.5em 1.5em;
}

img.banner {
float: right;
border: none;
}

img.valid {
border: none;
float: right;
margin-left: 5px;
} 

a:link {
background: transparent; 
color: #ed873f;
text-decoration: none; 
}

a:visited {
background: transparent; 
color: #a0522d;
text-decoration: none; 
}

a:hover {
background: transparent;
color: #50b44c;
}

div.top {
height: 12em;
background: #351a14; 
color: #f5f5f5;
margin-top: -2em;
}

h1{ 
margin-right: 1%;
margin-top: 0px;
font-size:250%;
text-align: right;
}

div.navi {
text-align: right;
height: 30px;
padding: 1px 0px 0px 5px;
font-size: small;
margin-right: 10px;
margin-bottom: 1.5em;
}

span.navi {
padding: 2px;
margin-right: 2px;
background: transparent;
color: #f5f5f5;
border: thin solid #f5f5f5;
}

li {
list-style-type: square;
}

div.contents { 
clear: both;
margin-top: -10px;
/* add for multi column */
float: left;
width: 27%;
margin-left: 1%;
border-right: thin dotted #f5f5f5;
}

h2 { 
clear: both;
text-align: center;
padding: 5px 0px 5px 0px;
color: #745247;
background: #f5f5f5;
border: 2px outset #745247;
margin-top: 20px;
}

input{
background: #ed7332;
color: white;
margin-top: 5px;
}

input.set{
margin-top: 3px;
text-align: center;
background: #50b44c;
color: white;
}

div.contents dt { 
font-weight: bold; 
font-size: 110%;
border: 1px outset #745247;
text-align: left;
padding: 2px 0px 2px 0.5em;
background: #f5f5f5;
color: #745247;
}

dl.search dt { 
clear: left;
font-weight: bold; 
font-size: 110%;
border: 1px outset #745247;
text-align: left;
padding: 2px 0px 2px 0.5em;
}

dl.search dd {
margin-left: 0em;
}

dl.search p {
margin-top: -0.2em;
text-align: center;
}

div.contents dd { 
padding: 5px 2px 0px 2px;
background: transparent;
color: #745247;
}

div.contents li {
background: transparent;
color: #ed7332;
margin-left: -3em;
margin-top: 2px;
}

div.info { 
/*margin-top: -15px;*/
margin-top: -10px;
font-weight: bold;
/* add for multi column */
float: right; /*left;*/
margin-right: 1%;
width: 68%;
}

div.info ul {
padding: 0em 0em 0em 3em;
line-height: 1.2;
}

div.info li {
margin: 0.3em 1em 0.3em 0em;
padding: 0em 0em 0em 0em;
list-style-position: inside;
background: transparent;
color: #ed873f;
font-weight: normal;
}

div.info pre {
margin: 0em 1em 0em 1em;
padding: 0em 0em 0em 0em;
background: transparent;
color: #50b44c;
line-height: 1.1;
overflow: hidden;
width: 90%;
font-weight: normal;
}

div.info p {
background: transparent;
color: #745247;
line-height: 1.3;
font-weight: normal;
margin: 1em ;
}

div.info dl{
padding: 0px 5% 0px 5%;
}

div.info dt{ 
background: transparent;
color: #745247;
font-weight: normal;
font-size: 110%;
padding: 5px 0px 2px 1em;
}

div.info dd {
font-weight: normal;
}

hr{ display: none; }

div.under { 
clear: both;
padding: 10px 5px;
background: #351a14;
color: #f5f5f5;
}

div.under a:link, div.top a:link {
background: transparent; 
color: #ee9a49;
text-decoration: none; 
}

div.under a:visited, div.top a:visited {
background: transparent; 
color: #ed873f;
text-decoration: none; 
}

div.under a:hover, div.top a:hover {
background: transparent;
color: #50b44c;
}


address { 
text-align: right;
font-size: small;
}
